<div>
  <%= render 'carousel' %>
  <div class="container">
    <%= render partial:'auctions', locals: {auctions: @ending_soon, title: 'Ending Soon'} %>
    <%= render partial:'auctions', locals: {auctions: @lowest_buyout, title: 'Lowest Buyout'} %>
    <%= render partial:'auctions', locals: {auctions: @recently_posted, title: 'Recently Posted'} %>
  </div>
</div>

