<%=link_to conversations_path(page:params[:conversation_page], conversation_id: conversation.id) do%>
  <div class="row">
  <div class="col-md-4">
    <div class="thumb thumb-round">
      <% if other_participant(conversation).picture.url %>
        <%=image_tag other_participant(conversation).picture.thumb.url %>
      <% else %>
        <%=image_tag 'user-thumb.png'%>
      <% end %>
    </div>
  </div>
  <div class="col-md-7">
    <%= other_participant(conversation).display_name %>
  </div>
  </div>
<% end %>
