<div class="side-navs">
  <%= link_to "Recently Posted", auctions_path, class:"side-nav #{is_active?(:order, nil)}"%>
  <%= link_to "Ending Soon", auctions_path(order: "ending"), class:"side-nav #{is_active?(:order,'ending')}"%>
</div>
