<div class="panel panel-warning">
  <div class="panel-heading">Bids History</div>
  <table class="table table-hover">
    <tr class="active info">
      <th>Bid Amount</th>
      <th>Bid Time</th>
      <th>Bidder Name</th>
      <th>Bidder Email</th>
    </tr>
    <%= render @bids %>
  </table>
</div>
