<div class="panel panel-default">
  <div class="panel-body">
    <div class="title text-center">
      <i class="fa fa-gavel"></i> Active Auctions
    </div>
    <div class="row">
      <%= render @auctions %>
    </div>  
    <div class="row text-center">
      <%= will_paginate @auctions, param_name:'auction_page', renderer: BootstrapPagination::Rails  %>
    </div>
 </div>
</div>    


