<div class="panel panel-default">
  <div class="panel-body">
    <div class="title text-center">
      <i class="fa fa-money"></i> My Active Bids 
    </div>
    <table class="table">
      <tr>
        <th>Auction Name</th>
        <th>Auction End Time</th>
        <th>Bid Time</th>
        <th>Bid Amount</th>
      </tr>
      <% @bids.each do |bid| %>
        <%= render partial:'users/bid', locals:{bid:bid} %>
      <% end %>
    </table>

    <div class="row text-center">
      <%= will_paginate @bids, param_name: 'bid_page', renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
