.side-navs {
  margin-top: 90px;
}

.side-nav {
  text-align: center;
  border: solid 1px #e9e9e9;
  border-radius: 5px;
  display: block;
  padding:15px;
  color: #00a8f2;
}

.side-nav:hover {
  color: #000;
  border: solid 1px #ccc;
}
  
.side-nav.active{
  border: solid 1px #00a8f2;
  background: #f0f8fc;
}

.navbar-default .navbar-nav > .active > a{
	background-color: #FFF;
	border-bottom-width: 3px;
	border-bottom-color: #e368d6;
	border-bottom-style: solid;
}

.navbar-default {
  background-color: #FFF;
 	border-color: #FFF;
	border-bottom-color: #e9e9e9;
}

.navbar-brand{
	position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}

.navbar-default .navbar-brand {
	color: #000;
}
