.center-text{
  text-align: center;
} 

.dark-text {
  color: #000000;
}

.light-text {
  color: #666;
}

.bright-text {
  color: #e368d6;
}

.title {
  font-size: 28px;
  font-weight: 200;
}

.success-text{
  color: #5cb85c;
}

.title-sm {
 font-size: 18px; 
}

.thin-text {
  font-weight: 200;
}

.block-with-text {
  margin-top: 20px;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  height: 4.8em; 
}

