.center-text{
  text-align: center;
} 

.dark-text {
  color: #000000;
}

.light-text {
  color: #666;
}

.title {
  font-size: 28px;
  font-weight: 200;
}

.title-sm {
 font-size: 18px; 
}

.thin-text {
  font-weight: 200;
} 
