// Place all the styles related to the Auctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auction-content {
	padding: 30px;
}

.well {
	background-color:#FCF8E3;
	border-style: none;
}

.info-box {
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}

