@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "layout/flex_layout";
@import "layout/column.css.scss";
@import "layout/media_query.css.scss";
@import "components/footer";
@import "components/form";
@import "components/button";
@import "components/nav";
@import "components/card";
@import "auctions";

.container-body { 
  padding-top: 70px;
}

.container-fluid-body {
	padding: 0px;
	padding-top: 50px;
}

